
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4 margin-bottom-20">
        <div class="panel-default attach box-shadow">
            <div class="panel-heading attach-head" style="background: #45B39D; color: white;font-size: large;">Study Material Upload</div>
            <div class="panel-body " style="background: white">
                <form class="form-group">
                    <label for="subjectName">Name of File for Display </label> <input type="text" id="subjectName" name="subject" ng-class="admin.class1" ng-model="admin.disName" class="form-control">
                    <label for="file">File</label> <input id="file" ngf-select="admin.uploadAttach()" ng-model="admin.attach" type="file" name="study-mat" ng-class="admin.class3" class="form-control">
                    <label for="subject">Subject</label>
                    <select id="subject" ng-model="admin.subject" ng-class="admin.class2" class="form-control">
                        <option ng-repeat="sub in admin.subjects" ng-value="sub">{{sub.attributes.name}}</option>
                    </select>
                    <div class="col-xs-offset-1 col-xs-1">
                        <p ng-show="admin.loadId"><img src="loading.gif" alt="loading" style="max-width: 50px; max-height: 50px"></p>
                    </div>
                    <button class="btn post-btn pull-right" ng-disabled="admin.loadId" ng-click="admin.uploadFile(admin.subject)">Upload</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8">
        
        <div class="panel-group">
            <div class="panel-body post" ng-if="!admin.newPosts.length">
				<div class="row"  style="background-color: white;padding: 10px 30px;">
					There is no query posted yet
				</div>
			</div>
            <div class="panel-body post" ng-repeat="post in admin.newPosts | reverse">
                <div class="row subject-title">{{post.attributes.subject.attributes.name}}</div>
                <div class="row"  style="background-color: white">
                    <div class="col-xs-1 col-sm-1">
                        <img src='img/avatar_dummy.png'
                             alt="Profile Picture" class="img-responsive img-rounded img-post-profile">
                    </div>
                    <div class="col-xs-10 col-sm-11">
                        <span><strong>{{post.attributes.user.attributes.name}}</strong></span>
                        <small class="pull-right">{{post.attributes.updatedAt | date:'medium'}}</small>
                        <hr class="small-margin-top my-hr" style="border: solid 2px #45B39D"></hr>
                    </div>
                </div>
                <div class="row"><div class="col-xs-10 col-xs-offset-1"> {{post.attributes.data}}</div></div>
                <div class="row"><div class="col-xs-10 col-xs-offset-1"> <img class="img-responsive feed-img" ng-src="{{post.attributes.image._url}}"></div></div>
                <div class="row"><div class="panel-heading col-xs-10 col-xs-offset-1" style="margin-bottom: 5px; margin-top: 5px;"> <a><span class="glyphicon-thumbs-up glyphicon"></span></a></div></div>
                <div class="col-xs-offset-2 col-xs-8 form-group {{post.id}}" ng-hide="admin.divId[post.id] == post.id">
                    <div class="email-to-reply"><label>{{post.email}}</label></div>
                    <form name="reply-form">
                        <textarea ng-class="admin.textClass" class="form-control" ng-model="admin.replyQuery[post.id]" name="{{post.id}}"></textarea>
                        <button class="btn logout-btn pull-right" ng-click="admin.reply(post)">Reply</button>
                    </form>
                </div>
                <div class="col-xs-offset-2 col-xs-8 form-group {{post.id}}" ng-show="admin.divId[post.id] == post.id">
                    <p><img src="success.gif" alt="success" style="max-width: 50px; max-height: 50px">Replied Successfully !!!!! </p>
                </div>
            </div>
        </div>
    </div>
</div>

<h3>This is Admin Page</h3>