
	<div class="row">
		<div class="col-sm-4 panel">
		<div class="panel-warning panel-default">
			<div class="panel-heading" style="background-color:#45B39D; color:white;">Attachment</div>
			<div class="panel-body" style="border:1px solid #45B39D; border-top:none;">
				<table class="table table-responsive">
					<tr>
						<th>Filename</th>
						<th>&nbsp;</th>
					</tr>
					<tr>
						<td>abc</td>
						<td><a href="#">Download</a></td>
					</tr>
					<tr>
						<td>abc</td>
						<td><a href="#">Download</a></td>
					</tr>
					<tr>
						<td>abc</td>
						<td><a href="#">Download</a></td>
					</tr>
					<tr>
						<td>abc</td>
						<td><a href="#">Download</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="col-sm-8 panel-group">
	<div class="panel-body">
		<div class="panel-body" style="border:1px solid #45B39D">
		<form method="post" enctype="multipart/form-data">
			<div class="form-group">
				<div class="panel"><textarea class="form-control" placeholder="Enter your Query"></textarea></div>
				<div class="panel-default"><input class="form-control" type="file" /></div>
			<div class="panel-default"><input class="btn" style="background-color:#45B39D; color:white; float:right;" type="submit" name="submit" value="Post"/></div>
			</div>
			</form>
			</div>
		</div>
			<div class="panel-body">
			<div class="panel-body"  style="border:1px solid #45B39D">
				<div class="panel-heading">Diljeet Singh Suri</div>
				<div class="panel-body">Some question to ask ?</div>
				<div class="panel-footer"><a href="#"><span class="glyphicon-thumbs-up glyphicon"></span></a></div>
			</div>
			</div>
			<div class="panel-body">
			<div class="panel-body"  style="border:1px solid #45B39D">
				<div class="panel-heading">Diljeet Singh Suri</div>
				<div class="panel-body">Some question to ask ?</div>
				<div class="panel-footer"><a href="#"><span class="glyphicon-thumbs-up glyphicon"></span></a></div>
			</div>
			</div>
		</div>
	</div>