<div class="row">
	<div class="col-sm-4 panel" style="border-right:solid 1px #CCCCCC">
		<div>
			<img class="img-thumbnail" src="th.jpg" />
		</div>
		<div>
			<ul class="list-group">
				<li class="list-group-item">
			{{home.curruser.name}}</li>
			<li class="list-group-item">
			{{home.curruser.email}}</li>
			</ul>
		</div>
	</div>
	<div class="col-sm-8 panel-group">
		<div class="panel-default">
		<div class="panel-heading">History</div>
		<div class="panel-body">{{home.users}}</div>
		</div>
	</div>
</div>
