
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="container-fluid" >
    <div class="col-sm-4"></div>
    <div class="col-sm-4 panel" style="box-shadow:10px 10px 5px grey; margin-top:10%">
        <div  class="panel">
            <h3 class="text-center text-uppercase">company name </h3>
        </div>
        <div class="text-center panel">
            <h5>Login with facebook</h5>
        </div>
        <div class="text-center panel">
            <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false"></div>
        </div>
        <div class="text-center panel">
            <h5><a href="#" data-toggle="modal" data-target="#login-modal">Sign up</a></h5>
        </div>
    </div>
</div>
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">

        <div class="loginmodal-container">
            <h1>Create a New Account<button type="button" class="close" data-dismiss="modal">&times;</button></h1><br>
            <form name="form1">
                <input type="email" class="form-control" name="user" placeholder="Email" ng-model="login.user.email" ng-required="">
                <input type="text" name="user" placeholder="Username" ng-model="login.user.username">
                <input type="password" name="pass" placeholder="Password" ng-model="login.user.pass">
                <input type="submit" name="login" class="login loginmodal-submit" ng-disabled="form1.$invalid" ng-click="login.submit()" value="Sign Up">
            </form>

        </div>
    </div>
</div>
