
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="container-fluid" >
    <div class="col-sm-4"></div>
    <div class="col-sm-4 panel" style="box-shadow:10px 10px 5px grey; margin-top:10%">
        <div  class="panel">
            <h3 class="text-center text-uppercase">company name </h3>
        </div>
        <div class="text-center panel">
            <p>Already Have an Account</p>
            <h3><button type="button" class="btn" style="background-color: #45B39D; color: white" ng-click="login.open('user')">Log In</button> </h3>
        </div>
        <div class="text-center panel">
            <h5>Login with facebook</h5>
        </div>
        <div class="text-center panel">
            <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false"></div>
        </div>
        <div class="text-center panel">
            <h5><button type="button" class="btn btn-default" ng-click="login.open()">Sign Up</button>
            </h5>
        </div>
    </div>
</div>
    <script type="text/ng-template" id="signUp.html">
        <div class="modal-header img-rounded" style="background-color: #45B39D; color: white; text-align: center">
            <h3 class="modal-title" id="modal-title">Create a New Account</h3>
        </div>
        <div class="modal-body form-group row" id="modal-body">
            <div class="col-xs-8 col-xs-offset-2" >
            <form name="form1">
                <div class="list-group-item"><input type="email" class="form-control" name="user" placeholder="Email" ng-model="popup.newuser.email" ></div>
                <div class="list-group-item"> <input type="text" class="form-control" name="user" placeholder="Username" ng-model="popup.newuser.name" ></div>
                <div class="list-group-item"><input type="password" class="form-control" name="pass" placeholder="Password" ng-model="popup.newuser.pass" ></div>
                <div class="list-group-item"><input type="submit" style="background-color: #45B39D; color: white" name="login" ng-click="popup.signup()" class="login btn"  value="Sign Up"></div>
            </form>
                </div>
        </div>
    </script>

<script type="text/ng-template" id="login.html">
    <div class="modal-header img-rounded" style="background-color: #45B39D; color: white; text-align: center">
        <h3 class="modal-title" id="modal-title">Sign In</h3>
    </div>
    <div class="modal-body form-group row" id="modal-body">
        <div class="col-xs-8 col-xs-offset-2" >
            <form name="form2">
                <div class="list-group-item"> <input type="text" class="form-control" name="user" placeholder="Username" ng-model="popup.curruser.name" ></div>
                <div class="list-group-item"><input type="password" class="form-control" name="pass" placeholder="Password" ng-model="popup.curruser.pass" ></div>
                <div class="list-group-item"><input type="submit" style="background-color: #45B39D; color: white" name="login" ng-click="popup.login()" class="login btn"  value="LogIn"></div>
            </form>
        </div>
    </div>
</script>