<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="panel-group">
        <div class="padding-10 gray">
			<h3>All queries</h3>
            <p class="gray">You can ask queries on subject specific pages for Common, ECE and EE</p>
		</div>
        <div class="panel-body post" ng-repeat="post in newFeeds.posts | reverse">
            <div class="row subject-title">{{post.attributes.subject.attributes.name}}</div>
            <div class="row" style="background-color: white">
                <div class="col-xs-1 col-sm-1">
                    <img src='img/avatar_dummy.png' alt="Profile Picture" class="img-responsive img-rounded img-post-profile">
                </div>
                <div class="col-xs-10 col-sm-10 border-bottom-gray padding-bottom-10">
                    <span><strong>{{post.attributes.user.attributes.name|capitalize}}</strong></span>
                    <small class="pull-right gray">{{post.attributes.updatedAt | date:'medium'}}</small>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1"> {{post.attributes.data | capitalizeFirstWord}}</div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1"> <img class="img-responsive feed-img" ng-src="{{post.attributes.image._url}}" ng-click="newFeeds.openLightBox(post.attributes.image._url)"></div>
            </div>
            <div class="row">

                <div class="panel-heading col-xs-10 col-xs-offset-1" style="margin-bottom: 5px; margin-top: 5px;">
                    <div class="like-block">
                        <a ng-click="newFeeds.likePost(post)" ng-if="newFeeds.user.attributes.username != 'admin'"><span class="glyphicon-thumbs-up glyphicon like-icon text-large"></span></a>
                        <a ng-if="newFeeds.user.attributes.username == 'admin'"><span class="glyphicon-thumbs-up glyphicon like-icon text-large"></span></a>
                    </div>
                    <div class="likes-div text-large">{{post.attributes.likesTotal}}</div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 padding-0">
                    <div class="comment-container" >
                        <div class="comment-div" ng-repeat="comment in post.comments track by $index">
                            <div class="comment-box row"><div class="img-div">
                                <img src="img/avatar_dummy.png" alt="" class="img-responsive comment-img img-rounded">
                                </div>
                                <div class="comment-details">
                                    <span class="comment-user "><strong>{{comment.attributes.user.attributes.name}}</strong></span>
                                    <br>
                                    <span class="comment-text ">{{comment.attributes.comment}}</span>
                                </div>
                            </div>
                            
                        </div>
                        <div class="add-comment-container ">
                            <div class="comment-box row comment-input"><div class="img-div custom-padding-0 "><img src="img/avatar_dummy.png" alt="" class="img-rounded img-responsive comment-img right"></div>
                                <div class="textarea-div custom-padding-0"><textarea ng-model="newFeeds['newComment_'+post.id]" id="" cols="30" rows="10" class="comment-add"></textarea></div>
                            </div>
                            <div class="row action-container">
                            <button class="reply-btn btn post-btn" ng-click="newFeeds.postComment(post)">Reply</button>
                        </div>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>