<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="forum">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>login</title>
<link href="css/business-casual.css" rel="stylesheet">
<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />

<link rel="stylesheet" href="lib/bootstrap-social/bootstrap-social.css" />
<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" href="css/custom.css"/>
<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-fblogin/dist/angular-fblogin.js"></script>
<script src="js/localForage.js"></script>
<script src="js/angular-localForage.js"></script>
<script src="lib/ng-file-upload/ng-file-upload-shim.min.js"></script>
<script src="lib/ng-file-upload/ng-file-upload.min.js"></script>
<script src="js/parse.min.js"></script>
<script src="lib/angular-route/angular-route.js"></script>
<script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="js/app.module.js"></script>
<script src="js/app.route.js"></script>
<script src="js/services/data.service.js"></script>
<script src="js/controllers/data.Ctrl.js"></script>
<script src="js/controllers/home.Ctrl.js"></script>
<script src="js/controllers/login.Ctrl.js"></script>
<script src="js/controllers/nav.Ctrl.js"></script>
<script src="js/controllers/popup.Ctrl.js"></script>
<script src="js/controllers/admin.Ctrl.js"></script>
<script src="js/filters/reverse.Filter.js"></script>
</head>

<body style="background-color: honeydew" ng-controller="navCtrl as nav">

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1758883814427328";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="navibar" ng-controller="navCtrl as nav"  >
    <nav class="navbar navbar-inverse" ng-if="showNav">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle"  data-toggle="dropdown">Common
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="sub in nav.subCom"><a ng-click="nav.selectSub(sub)">{{sub.attributes.name}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class=" dropdown-toggle" data-toggle="dropdown">ECE
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="sub in nav.subEce"><a ng-click="nav.selectSub(sub)">{{sub.attributes.name}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class=" dropdown-toggle"  data-toggle="dropdown">EE
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="sub in nav.subEe"><a ng-click="nav.selectSub(sub)">{{sub.attributes.name}}</a></li>
                    </ul>
                </li>
            </ul>
            <div class="pull-right col-sm-2 btn dropdown" style="margin-top: 8px;" >
                <a style="color: #45B39D;" class="dropdown-toggle" data-toggle = "dropdown">
                    <span class="glyphicon glyphicon-user" style="margin-right: 10px;" ></span>{{currentUser.name}}
                    <span class="caret"></span> </a>
                <ul class="dropdown-menu " style="background-color: black; color: #45B39D; margin-top: 8px; opacity: 0.85">
                    <li class="text-center" ng-if="currentUser.username != 'admin'"><a  style="color: #45B39D;" href="#!/home" > Profile</a></li>
                    <li class="text-center" ng-if="currentUser.username == 'admin'"><a  style="color: #45B39D;" href="#!/admin" > Home</a></li>
                    <!--<li class="text-center">Edit</li>-->
                    <li class="text-center"><button class="btn logout-btn" ng-click="nav.logout()">LogOut</button></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container main-content" ng-hide="aboutUs">

<ng-view></ng-view>

</div>
<div ng-show="aboutUs" >   
<div class="brand" >GATE QA</div>
    <div class="address-bar">An Engineer's Guide to Success</div>
	<div class="row" style="width:100%; margin-bottom: 20px;">
		<div class="login-btn btn col-sm-offset-10 col-sm-1" ng-click="nav.hideAboutUs(false)" style="background: rgba(255,255,255,0.9);"><a  style="color:black;">login</a></div>
	</div>
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Business Casual</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About Us
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="img/pic.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <p>This site is maintained by a duo of ex-IITian and IES exam cracker who are passionate about teaching.</p>

<p>Mr.keshav Sanadhya is renowned faculty in ece and currently senior faculty and a member of advisory committee of electronic and communication in Engineers Academy Jaipur one of the leading institute for GATE and IES. </p>

<p>Mr. Mohan Choudhary is one of best in electrical department currently giving his services in railway(IES) also gives his precious guidance to students for cracking the exam.</p>

<p>This website is a medium to interact with these experts to consult your problem and betterment for your exam preparation. For queries - one should register on this site.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Powered by Youstart</p>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
